@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.domain-section {
    text-align: center;
    padding: 50px 20px;
    background: #f8f9fd;
    font-family: 'Poppins', sans-serif;
}

.domain-section h2 {
    font-size: 32px;
    color: #222;
    font-weight: 600;
}

.domain-section p {
    color: #555;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.filter-buttons {
    margin: 20px 0;
}

.filter-buttons button {
    background: none;
    border: 2px solid #3954ff;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #3954ff;
    transition: all 0.3s ease-in-out;
}

.filter-buttons button.active,
.filter-buttons button:hover {
    background: #3954ff;
    color: #fff;
}

.domain-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.domain-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
    width: 320px;
    text-align: left;
    transition: 0.3s ease-in-out;
    position: relative;
}

.domain-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.12);
}

.domain-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.domain-header h3 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.domain-ext {
    color: #3954ff;
    font-weight: bold;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: #145A32;
}

.domain-section .domain-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    padding: 0!important;
}

.domain-info p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.domainsBtn_div {
    display: flex;
    gap: 5px;
}

.buy-btn {
    /* background-color: #3954ff; */
    background: linear-gradient(159deg, #3954ff 0, #617eff 75%, #c0e0ff 100%);
    color: white;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.buy-btn:hover {
    background: linear-gradient(210deg, #3954ff 0, #617eff 75%, #c0e0ff 100%);
    transform: scale(1.05);
}

.view-all-btn {
    margin-top: 25px;
    padding: 12px 25px;
    border: 2px solid #3954ff;
    background: none;
    color: #3954ff;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-weight: bold;
}

.view-all-btn:hover {
    background: #3954ff;
    color: white;
}